<div nz-row>
  <!-- 按钮组 -->
  <div nz-col nzXs="24">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16, xl: 16, xxl: 32 }" nzJustify="start" nzType="flex">
      <div nz-col nzXs="24" nzLg="3" nzXl="3" nzXXl="2" style="margin-bottom: 1rem;">
        <button nzType="primary" (click)="upload()" nz-button nzBlock><i nz-icon nzType="download"></i>上传</button>
      </div>
      <div nz-col nzXs="24" nzLg="3" nzXl="3" nzXXl="2" style="margin-bottom: 1rem;">
        <button nzType="danger" (click)="deletueButton()" nz-button nzBlock><i nz-icon nzType="delete"></i>删除</button>
      </div>
      <div nz-col nzXs="24" nzLg="3" nzXl="3" nzXXl="2" style="margin-bottom: 1rem;">
        <button nzType="default" (click)="st.reload()" nz-button nzBlock><i nz-icon nzType="redo"></i>刷新</button>
      </div>
    </div>
  </div>
  <!-- 文件列表 -->
  <div nz-col nzXs="24">
    <nz-collapse>
      <nz-collapse-panel nzHeader="文件列表" nzActive="true">
        <st #st [data]="data" [columns]="columns" [pi]="pi" [ps]="ps" [page]="pages" [total]="total"
          [loading]="http.loading" virtualScroll virtualItemSize="20" [scroll]="{ x: '1300px',y:'600px'}"
          (change)="change($event)" responsiveHideHeaderFooter>
        </st>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

</div>
<!-- 弹出框:上传文件 -->
<nz-modal nzWidth="600" [(nzVisible)]="isVisible" nzTitle="上传bin文件" (nzOnCancel)="handleCancel()"
  nzMaskClosable="false">
  <div>
    <sf #sf [schema]="schema" [ui]="ui" button="none"></sf>
  </div>
  <div *nzModalFooter>
    <button nz-button type="button" (click)="handleCancel()">关闭</button>
    <button nz-button type="submit" [disabled]="!sf.valid" [nzType]="'primary'" (click)="upload(sf.value)"
      [nzLoading]="http.loading">上传</button>
  </div>
</nz-modal>