<div nz-row nzGutter="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32}" nzType="flex" nzJustify="space-around"
    nzAlign="top">
    <!-- 树节点 -->
    <div nz-col nzXs="24" nzXl="4">
        <nz-card nzTitle="管理员名下DTU">
            <nz-tree [nzData]="nodes" nzShowLine (nzClick)="nzEvent($event)"> </nz-tree>
        </nz-card>
    </div>
    <!-- 按钮组和表格 -->
    <div nz-col nzXs="24" nzXl="19">
        <div nz-row>
            <!-- 按钮组 -->
            <div nz-col nzXs="24">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16, xl: 16, xxl: 32 }" nzJustify="start"
                    nzType="flex">
                    <div nz-col nzXs="24" nzLg="3" style="margin-bottom: 1rem;">
                        <button nzType="primary" (click)="isVisible = true;addOrEdit = true;formHeader='添加记录'" nz-button
                            nzBlock><i nz-icon nzType="plus"> </i>
                            添加</button>
                    </div>
                    <div nz-col nzXs="24" nzLg="3" style="margin-bottom: 1rem;">
                        <button nzType="danger" (click)="deleteButton()" nz-button nzBlock><i nz-icon
                                nzType="delete"></i>删除</button>
                    </div>
                    <div nz-col nzXs="24" nzLg="3" style="margin-bottom: 1rem;">
                        <button nzType="default" (click)="st.reload()" nz-button nzBlock><i nz-icon
                                nzType="redo"></i>刷新</button>
                    </div>
                    <div nz-col nzXs="24" nzLg="4" style="margin-bottom: 1rem;">
                        <button nzType="primary" (click)="isVisible2=true" nz-button nzBlock><i nz-icon
                                nzType="upload"></i>导入Excel</button>
                    </div>
                    <div nz-col nzXs="24" nzLg="4" style="margin-bottom: 1rem;">
                        <button nzType="primary" (click)="distributeButton()" nz-button nzBlock><i nz-icon
                                nzType="select"></i>分配DTU</button>
                    </div>


                </div>
            </div>
        </div>
        <!-- DTU列表 -->
        <div nz-row>
            <nz-collapse>
                <nz-collapse-panel [nzActive]="true" nzHeader="DTU列表">
                    <st #st [columns]="columns" [data]="data" [loading]="http.loading" [pi]="pi" [ps]="ps"
                        [page]="pages" [total]="total" virtualScroll virtualItemSize="20"
                        [scroll]="{x:'1300px',y:'600px'}" (change)="change($event)" responsiveHideHeaderFooter></st>
                </nz-collapse-panel>
            </nz-collapse>
        </div>

    </div>
    <!-- 弹窗1:添加/编辑dtu -->
    <nz-modal nzWidth="600" [(nzVisible)]="isVisible" [nzTitle]="formHeader" (nzOnCancel)="handleCancel(1)"
        nzMaskClosable="false">
        <div class="sf">
            <sf #sf [schema]="schema" [ui]="ui" button="none"></sf>
        </div>
        <div *nzModalFooter>
            <button nz-button type="button" (click)="handleCancel(1)">关闭</button>
            <button *ngIf="addOrEdit" nz-button type="submit" [nzType]="'primary'" [disabled]="!sf.valid"
                (click)="handleData(sf.value,'add')" [disabled]="!sf.valid" [nzLoading]="http.loading">添加</button>
            <button *ngIf="!addOrEdit" nz-button type="submit" [nzType]="'primary'" [disabled]="!sf.valid"
                (click)="handleData(sf.value,'edit')" [nzLoading]="http.loading">修改</button>
        </div>
    </nz-modal>
    <!-- 弹窗2:导入Excel -->
    <nz-modal nzWidth="600" [(nzVisible)]="isVisible2" nzTitle="导入Excel" (nzOnCancel)="handleCancel(2)"
        nzMaskClosable="false">
        <div>
            <form nz-form>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>添加文件</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-upload class="import-excel" nzAccept=".xls,.xlsx,.xltx" nzCustomRequest="request($event)"
                            [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzSize="10240" nzLimit="1"
                            nzType="drag">
                            <p class="ant-upload-drag-icon">
                                <i nz-icon nzType="inbox"></i>
                            </p>
                            <p class="ant-upload-text">点击或拖拽来添加文件</p>
                            <p class="ant-upload-hint"></p>
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>
            </form>
            <sf #sf2 [schema]="schema2" button="none"></sf>
        </div>
        <div *nzModalFooter>
            <button nz-button type="button" (click)="handleCancel(2)">关闭</button>
            <button nz-button type="submit" [disabled]="!sf2.valid||(fileList.length===0)" [nzType]="'primary'"
                (click)="upload(sf2.value)" [nzLoading]="http.loading">导入</button>
        </div>
    </nz-modal>
    <!-- 弹窗3:分配DTU -->
    <nz-modal nzWidth="600" [(nzVisible)]="isVisible3" nzTitle="选择管理员进行DTU分配" (nzOnCancel)="handleCancel(3)"
        nzMaskClosable="false">
        <div>
            <sf #sf3 [schema]="schema3" [ui]="ui" button="none"></sf>
        </div>
        <div *nzModalFooter>
            <button nz-button type="button" (click)="handleCancel(3)">关闭</button>
            <button nz-button type="submit" [disabled]="!sf3.valid" [nzType]="'primary'" (click)="distribute(sf3.value)"
                [nzLoading]="http.loading">分配</button>
        </div>
    </nz-modal>

</div>